@import './shared/styles/_animations.css';
@import './shared/styles/_flex.css';
@import './shared/styles/_fonts.css';
@import './shared/styles/_spacing.css';

main {
  max-width: 900px;
}

#contexte {
  padding: 0 10%;
}

@media (min-width: 500px) {
  #contexte {
    padding: 0 15%;
  }
}

@media (min-width: 900px) {
  #contexte {
    padding: 0 22%;
  }
}

table {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

table thead tr th {
  border-bottom: 1px solid black;
}

li {
  margin-top: .5rem;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.success {
  color: #2db92d;
}

.danger {
  color: #ff5233;
}

.block-danger,
.block-success {
  border: 1px solid;
  border-radius: 10px;
}

.block-danger {
  border-color: #ff5233;
  background-color: #ff523344;
}

.block-success {
  border-color: #2db92d;
  background-color: #2db92d44;
}